* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
  box-sizing: border-box;
}
body {
  background-color: white;
}
/* Start of Nab-bar */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(135deg, #abdcff, #0396ff);
}
.logo {
  font-size: 24px;
  margin: 14px;
  color:  rgba(0, 212, 255, 1);
}
/* End of Nab-bar */

/* Start weather app code  */
.card {
  width: 90%;
  max-width: 470px;
  background: linear-gradient(135deg, #abdcff, #0396ff);
  color: #fff !important;
  margin: 50px auto 50px;
  border-radius: 20px;
  padding: 35px 30px;
  text-align: center;
}
.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search input {
  border: 0;
  outline: 0;
  background: #ebfffc;
  color: #555;
  padding: 10px 25px;
  height: 60px;
  border-radius: 30px;
  flex: 1;
  margin-right: 16px;
  font-size: 16px;
}
.search button {
  border: 0;
  outline: 0;
  background: #ebfffc;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.search button img {
  width: 16px;
}
.weather-icon {
  width: 140px;
  margin-top: 20px;
}
.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  margin-top: 50px;
}
.col {
  display: flex;
  align-items: center;
  text-align: left;
}
.col img {
  width: 40px;
  margin-right: 10px;
  margin-top: -20px;
}
.humidity,
.wind {
  font-size: 20px;
  font-weight: bold;
  margin-top: -30px;
}
.weather {
  display: none;
}
.error {
  text-align: center;
  font-size: 15px;
  margin-top: 20px;
  display: none;
}
/* End weather app code  */
